.editable-title {
  input, textarea, h4, p {
    font-family: var(--font-fam);
    font-size: medium;
    font-weight: bold;
    color: unset;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 1em;
    display: block;
  }

  input {
    width: 100%;
  }

  textarea, p {
    font-family: var(--font-fam);
    font-size: small;
    font-weight: normal;
  }

  textarea {
    width: 100%;
    height: 180px;
    resize: none;
  }

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.avatar:focus {
  border: solid 1px red;
}

.avatar {
  height: var(--card-height);
  width: var(--card-width);
  border-radius: 16px;
}

.delete-card {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;

  &:hover {
    opacity: 1;
  };
}

.confirm-delete {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}