.editable-title {
  input, textarea, h4, p {
    font-family: var(--font-fam);
    font-size: medium;
    font-weight: bold;
    color: unset;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 1em;
    display: block;
  }

  input {
    width: 100%;
  }

  textarea, p {
    font-family: var(--font-fam);
    font-size: small;
    font-weight: normal;
  }

  textarea {
    width: 100%;
    height: 180px;
    resize: none;
  }

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.avatar {
  width: 240px;
  height: 240px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}