.editable-title {
  input, textarea, h4, p {
    font-family: var(--font-fam);
    font-size: medium;
    font-weight: bold;
    color: unset;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 1em;
    display: block;
  }

  input {
    width: 208px;
  }

  textarea, p {
    font-family: var(--font-fam);
    font-size: small;
    font-weight: normal;
  }

  textarea {
    width: 215px;
    height: 160px;
    resize: none;
  }

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}